<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881460495419-uee6d4jolpcl9j6n27li7c9qphkv6ri8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881460495419-uee6d4jolpcl9j6n27li7c9qphkv6ri8</string>
	<key>API_KEY</key>
	<string>AIzaSyAS3K-QdafLDAlQyuUCll7MrJm7dzJGmO0</string>
	<key>GCM_SENDER_ID</key>
	<string>881460495419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vividai.app</string>
	<key>PROJECT_ID</key>
	<string>vividai-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vividai-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881460495419:ios:1d051338f1ccc5839f881e</string>
</dict>
</plist>